<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <script src="/js/login.js"></script>
  <script src="/js/profile.js"></script>

<title>Planado</title>
</head>
<body>

{{{ body }}}

</body>
<footer class="planadoFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 Psychic Parakeet</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/sassour525/psychic-parakeet">GitHub</a>
			</div>
		</div>
	</footer>
</html>