    <div class="col s12 m7" id="first-shift">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Morning</strong></h3>
        </div>
        <div class="panel-body">
          <table class="table bordered centered" id='firstTable'>
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="mon-morn"><i class="material-icons">stop</i></td>
                <td id="tue-morn"><i class="material-icons">stop</i></td>
                <td id="wed-morn"><i class="material-icons">stop</i></td>
                <td id="thur-morn"><i class="material-icons">stop</i></td>
                <td id="fri-morn"><i class="material-icons">stop</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col s12 m7" id="second-shift">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Afternoon</strong></h3>
        </div>
        <div class="panel-body">
          <table class="table bordered centered" id='firstTable'>
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="mon-night"><i class="material-icons">stop</i></td>
                <td id="tue-night"><i class="material-icons">stop</i></td>
                <td id="wed-night"><i class="material-icons">stop</i></td>
                <td id="thur-night"><i class="material-icons">stop</i></td>
                <td id="fri-night"><i class="material-icons">stop</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 
  </div>
</main>