<main>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Planado</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" id="pto">Request PTO</a></li>
        <li><a class="waves-effect waves-light btn" id="openShifts">Open Shifts</a></li>
        <li><a class="waves-effect waves-light btn" id="logout">Logout</a></li>
      </ul>
    </div>
  </nav>  
      <div class="row">
      
          <div class="card">
            <div class="card-image">
              <img id='card-image' src={{pic}}>
              <span class="card-title">Welcome {{user.dataValues.email}}</span>
            </div>
            <div id="user-card" class="card-content">
              <p>Employee ID: {{user.dataValues.id}}</p>
              <p>Email: {{user.dataValues.email}}</p>
            </div>
          </div>
    <div class="col s12 m7" id= "first-shift"> 
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Morning</strong></h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover" id='firstTable'>
						<thead>
							<tr>
								<th>Monday</th>
								<th>Tuesday</th>
								<th>Wednesday</th>
								<th>Thursday</th>
								<th>Friday</th>
							</tr>
						</thead>
						<tbody>	
{{!--need handlebars and javascript calls to populate tbody --}}
                <tr>
                 <td> * </td>
                 <td> * </td>
                 <td> * </td>
                 <td> * </td>
                 <td> * </td>
                </tr> 
						</tbody>
					</table>
				</div>
			</div>
    </div>      

        <div class="col s12 m7" id= "second-shift"> 
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Afternoon</strong></h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover" id='firstTable'>
						<thead>
							<tr>
								<th>Monday</th>
								<th>Tuesday</th>
								<th>Wednesday</th>
								<th>Thursday</th>
								<th>Friday</th>
							</tr>
						</thead>
						<tbody>	
{{!--need handlebars and javascript calls to populate tbody --}}
               <tr> 
                 <td> * </td>
                 <td> * </td>
                 <td> * </td>
                 <td> * </td>
                 <td> * </td>
               </tr>   
						</tbody>
					</table>
				</div>
			</div>
    </div> 
            <div class="col s12 m7" id= "second-shift"> 
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Full Schedule</strong></h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover" id='firstTable'>
						<thead>
							<tr>
								<th>Monday</th>
								<th>Tuesday</th>
								<th>Wednesday</th>
								<th>Thursday</th>
								<th>Friday</th>
							</tr>
						</thead>
						<tbody>	
{{!--need handlebars and javascript calls to populate tbody --}}
               <tr> 
                 <td> am </td>
                 <td> am </td>
                 <td> am </td>
                 <td> am </td>
                 <td> am </td>
               </tr>   
               <tr> 
                 <td> pm </td>
                 <td> pm </td>
                 <td> pm </td>
                 <td> pm </td>
                 <td> pm </td>
               </tr>  
						</tbody>
					</table>
				</div>
			</div>
    </div>  
  </div>
</main>