body{
    background-color: #ccffff;
}

.nav-wrapper{ background-color: #01796f;

}

.logout{
border-radius: 8%;

}
.brand-logo{ 
    padding: 5px, 5px, 5px, 25px;
    margin-left: 25px;
    text-align: center;}

.card{
    float: left;
    width: 300px;
}

.main{
    clear: both;
    background-color: #01796f;
}

#loginDiv {
  width: 500px;
  height: 400px;
  background-color: #f8f7be;
  margin:0 auto;
}

.card-title {
    color: red;
}

.first-shift{
    float: right;

}

#first-shift{
    text-align: center;
}

#second-shift {
    text-align: center;
}