body{
    background-color: #ccffff;
}

.nav-wrapper{ background-color: #01796f;

}
.brand-logo{ 
    padding: 5px, 5px, 5px, 25px;
    margin-left: 25px;
    text-align: center;}

.card{
    float: left;
    width: 300px;
}
.calendar{
    float: right;
}

.main{
    clear: both;
    background-color: #01796f;
}

#loginDiv {
  width: 500px;
  height: 400px;
  background-color: #f8f7be;
  margin:0 auto;
}